:root {
    --unibo-red: #ba0909;
}

/* Sfondo Rosso UniBo (Header/Footer) */
.bg-unibo {
    background-color: var(--unibo-red);
    color: white;
}

/* Bottone personalizzato UniBo */
.btn-unibo {
    background-color: var(--unibo-red);
    border-color: var(--unibo-red);
    color: white;
    font-weight: 500;
}

/* Effetto quando passi sopra col mouse (diventa più scuro) */
.btn-unibo:hover {
    background-color: #8f0606;
    border-color: #8f0606;
    color: white;
}

.text-unibo {
    color: var(--unibo-red) !important;
    fill: var(--unibo-red) !important;
}

/* Rende il cursore una "manina" sugli elementi cliccabili che non sono link <a> veri */
.action-btn {
    cursor: pointer;
    text-decoration: none;
    color: #6c757d;
    transition: color 0.2s ease;
}

.action-btn:hover {
    color: var(--unibo-red);
}

/* SIDEBAR - NAV PILL CUSTOMIZZATE */

/* Link Attivo (Sfondo Rosso) */
.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link {
    background-color: var(--unibo-red) !important;
    color: white;
}

/* Link Non Attivo (Testo scuro) */
.nav-pills .nav-link {
    color: #333;
    margin-bottom: 5px;
    font-weight: 500;
}

/* Hover sul Link (Grigio chiaro + Testo Rosso) */
.nav-pills .nav-link:hover {
    background-color: #f0f0f0 !important;
    color: var(--unibo-red);
}

/* SEZIONE COMMENTI */

/* Il box grigio del singolo commento */
.comment-box {
    background-color: var(--unibo-red);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
}

/* Nome dell'utente che commenta */
.comment-user {
    font-weight: bold;
    font-size: 0.9rem;
    margin-right: 5px;
    color: #e9ecef;
}

/* Testo del commento */
.comment-text {
    font-size: 0.9rem;
    color: #e9ecef;
}